<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">face</i>
                    </div>
                    <p class="card-category">Personas</p>
                    <h3 class="card-title">{{person}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Personas Registradas
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">today</i>
                    </div>
                    <p class="card-category">Visitas</p>
                    <h3 class="card-title">{{visit}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Visitas Registradas
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">apartment</i>
                    </div>
                    <p class="card-category">Depts.</p>
                    <h3 class="card-title">{{depart}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Departamentos Registrados
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
                <div class="card-header card-header-info card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">account_circle</i>
                    </div>
                    <p class="card-category">Usuarios</p>
                    <h3 class="card-title">{{user}}
                    </h3>
                </div>
                <div class="card-footer">
                    <div class="stats">
                        Usuarios Registrados
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 col-md-12">
            <div class="card">
                <div class="card-header card-header-success">
                    <h4 class="card-title">Visitas Registradas</h4>
                    <p class="card-category">Visitas sin cerrar en l sistema</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-success">
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Departamento</th>
                            <th>Estatus</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vipe of visitPendientes">
                                <td>{{vipe.id}}</td>
                                <td>{{vipe.nombre}}</td>
                                <td>{{vipe.department}}</td>
                                <td>{{vipe.status}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-header card-header-info">
                    <h4 class="card-title">Departamentos</h4>
                    <p class="card-category">Cantidad de visitas por departamentos</p>
                </div>
                <div class="card-body table-responsive">
                    <table class="table table-hover">
                        <thead class="text-danger">
                            <th>Departamento</th>
                            <th>Cantidad</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let vide of contarViDe">
                                <td>{{vide.department}}</td>
                                <td>{{vide.visitas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>