<div class="sidebar" data-color="green" data-background-color="black" data-image="../../../assets/image/sidebar-4.jpg">
    <!--
Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

Tip 2: you can also add an image using data-image tag
-->
    <div class="logo">
        <a href="" class="simple-text logo-normal">
            CoReVi
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#/inicio">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#/visitas">
                    <i class="material-icons">today</i>
                    <p>Visitas</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#/personas">
                    <i class="material-icons">face</i>
                    <p>Personas</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#/departamentos">
                    <i class="material-icons">apartment</i>
                    <p>Departamentos</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" href="#/usuarios">
                    <i class="material-icons">account_circle</i>
                    <p>Usuarios</p>
                </a>
            </li>
            <!-- your sidebar here -->
        </ul>
    </div>
</div>