<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <button type="button" class="btn btn-success btn-round" (click)="addDepartment()">
                <i class="material-icons">add_circle</i> Agregar
            </button>
        </div>
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">apartment</i>
                    </div>
                    <h4 class="card-title">Listado de Departamentos</h4>
                </div>
                <div class="card-body">
                    <div class="toolbar">
                        <!--        Here you can write extra buttons/actions for the toolbar              -->
                    </div>
                    <div class="material-datatables">
                        <table id="datatables" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th class="disabled-sorting text-right">Acción</th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Descripción</th>
                                    <th class="text-right">Acción</th>
                                </tr>
                            </tfoot>
                            <tbody>
                                <tr *ngFor="let department of departments">
                                    <td>{{ department.id }}</td>
                                    <td class="text-success">{{ department.descrip }}</td>
                                    <td class="text-right">
                                        <button type="button" [routerLink]="['/departamentos/editar', department.id]" class="btn btn-link btn-info btn-just-icon">
                                            <i class="material-icons">create</i>
                                        </button>
                                        <button type="button" id="del" (click)="deleteDepartment(department.id, department.descrip)" class="btn btn-link btn-danger btn-just-icon">
                                            <i class="material-icons">close</i>
                                        </button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>