<div class="row">
    <div class="col-md-6">
        <div class="card ">
            <form (ngSubmit)="onSubmit()" #formPerson="ngForm">
                <div class="card-header card-header-success card-header-icon">
                    <div class="card-icon">
                        <i class="material-icons">apartment</i>
                    </div>
                    <h4 class="card-title">Editar Departamento</h4>
                </div>
                <div class="card-body ">
                    <div class="form-group">
                        <label for="descrip" class="bmd-label-floating">Descripción</label>
                        <input class="form-control" type="text" name="descrip" id="" [(ngModel)]="departments.department">
                    </div>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Actualizar</button>
                    <button class="btn btn-fill btn-danger" (click)="volver()">Atras</button>
                </div>
            </form>
        </div>
    </div>
</div>