<div class="row">
    <div class="col-md-10">
        <div class="card ">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <h4 class="card-title">Actualizar Usuario</h4>
            </div>
            <form class="form-horizontal" (ngSubmit)="onSubmit()" #formPerson="ngForm">
                <div class="card-body ">
                    <div class="row">
                        <label for="user" class="col-md-4 col-form-label">Usuario</label>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input class="form-control" type="text" name="user" [(ngModel)]="user.user">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="name" class="col-md-4 col-form-label">Nombre</label>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input class="form-control" type="text" name="name" [(ngModel)]="user.name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="pass" class="col-md-4 col-form-label">Contraseña</label>
                        <div class="col-md-8">
                            <div class="form-group">
                                <input class="form-control" type="password" name="pass" [(ngModel)]="user.pass">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <label for="role" class="col-md-4 col-form-label">Rol</label>
                        <div class="col-md-8">
                            <div class="form-group">
                                <select class="form-control" name="role" [(ngModel)]="user.role">
                  <option value="1">Administrador</option>
                  <option value="2">Recepcionista</option>
                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer ">
                    <button type="submit" class="btn btn-fill btn-success">Actualizar</button>
                    <button class="btn btn-fill btn-danger" (click)="volver()">Atras</button>
                </div>
            </form>
        </div>
    </div>
</div>